---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

export interface Props {
	content: {
		title: string;
		author: string;
		description: string;
		pubDate?: string;
		updatedDate?: string;
		heroImage?: string;
	};
}

const {
	content: { title, author, description, pubDate, updatedDate, heroImage },
} = Astro.props as Props;
---

<html>
	<head>
		<BaseHead title={title} description={description} />
		<style>
			main {
				max-width: 54.5rem;
				margin: 0 auto;
				padding: 0 1rem;
				display: flex;
				flex-direction: column;
				align-items: center;
			}

			article {
				display: flex;
				flex-direction: column;
				align-items: center;
				margin-top: -4rem;
			}

			.title {
				margin-top: 2.5rem;
				font-size: 2em;
				text-align: center;
			}
			hr {
				border-top: 1px solid #ddd;
				margin: 1rem 0;
			}

			img {
				width: 100%;
				border-radius: 8px;
			}

			.author {
				margin-top: 0.8rem;
				display: flex;
				align-items: center;
				justify-content: center;
				gap: 0.5rem;
				color: #eee;
			}

			.circle {
				width: 6px;
				height: 6px;
				border-radius: 50%;
				background-color: #eee;
			}

			.content {
				width: 100%;
				margin-top: 4rem;
				color: #eee;
			}
		</style>
	</head>

	<body>
		<Header forPost />
		<main>
			<article>
				{heroImage && <img src={heroImage} alt="" />}
				<h1 class="title">{title}</h1>

				<div class="author">
					{author && <p>by {author}</p>}
					<div class="circle"></div>
					{pubDate && <time>{pubDate}</time>}
				</div>

				<div class="content">
					<slot />
				</div>
			</article>
		</main>
		<Footer />
	</body>
</html>
